<div>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="string">String</label>
        <input type="text" class="form-control" id="string" placeholder="String" formControlName="oneString"/>
      </div>
  
      <div class="form-group">
        <label for="integer">Integer</label>
        <input type="text" class="form-control" id="integer" placeholder="Integer" formControlName="oneInteger"/>
      </div>
  
      <div class="form-group">
        <label for="long">Long</label>
        <input type="text" class="form-control" id="long" placeholder="Long" formControlName="oneLong"/>
      </div>
  
      <div class="form-group">
        <label for="decimal">Decimal</label>
        <input type="text" class="form-control" id="decimal" placeholder="Decimal" formControlName="oneDecimal"/>
      </div>
  
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" placeholder="Date" formControlName="oneDate"/>
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" placeholder="Time" formControlName="oneTime"/>
      </div>
  
      <div class="form-inline">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
        <button type="submit" class="btn btn-primary ml-1">Save</button>
      </div>
    </form>
  </div>
  