<button class="btn btn-primary" (click)="goToCreate()">Create</button>
<button class="btn btn-primary" (click)="goToRead()">Read</button>
<button class="btn btn-primary" (click)="goToUpdate()">Update</button>
<button class="btn btn-primary" (click)="goToDelete()">Delete</button>

<div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">String</th>
        <th class="col-1">Integer</th>
        <th class="col-1">Long</th>
        <th class="col-1">Decimal</th>
        <th class="col-1">Data</th>
        <th class="col-1">Time</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let entity of entityList">
        <td>
          <a style="cursor: pointer;">{{ entity.oneString }}</a>
        </td>
        <td>{{ entity.oneInteger }}</td>
        <td>{{ entity.oneLong }}</td>
        <td>{{ entity.oneDecimal }}</td>
        <td>{{ entity.oneDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ entity.oneTime | date: 'shortTime'}}</td>
      </tr>
    </tbody>
  </table>
</div>
