<div class="mb-2">
  <button class="btn btn-primary m-1" (click)="goToCreate()">Create</button>
  <button class="btn btn-primary m-1" (click)="goToRead()">Read</button>
  <button class="btn btn-primary m-1" (click)="goToUpdate()">Update</button>
  <button class="btn btn-primary m-1" (click)="goToDelete()">Delete</button>
</div>

<div>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">String</th>
        <th scope="col">Integer</th>
        <th scope="col">Long</th>
        <th scope="col">Decimal</th>
        <th scope="col">Data</th>
        <th scope="col">Time</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let entity of entityList">
        <td scope="row"><input type="radio" name="radiogroup" value="{{entity.id}}" [(ngModel)]="selected"></td>
        <td>
          <a style="cursor: pointer;" [routerLink]="['/entity/read', entity.id]">{{ entity.oneString }}</a>
        </td>
        <td>{{ entity.oneInteger }}</td>
        <td>{{ entity.oneLong }}</td>
        <td>{{ entity.oneDecimal }}</td>
        <td>{{ entity.oneDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ entity.oneTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
